body {
	width: 360px !important
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%
}

.app_main {
	width: 100%;
	height: 100%
}

.app_main {
	display: flex;
	overflow-x: hidden;
	flex-direction: column
}

.app_head {
	position: relative;
	text-align: center;
	padding: 15px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0, 0, 0, .04);
	color: #00ccb8
}

.app_content {
	flex-grow: 1;
	overflow-y: auto;
	padding: 15px
}

.app_head > h2 {
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	padding: 0;
	line-height: 1
}

.option-list_table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
}

.option-list_table td {
	padding: 6px 0 6px 8px;
}

.option-list_table .space {
	width: 10px;
	border-bottom: none
}

.option-list_table .info {
	text-align: left
}

.option-list_table .name {
	margin: 1px 0
}

.option-list_table label,
.option-list_table input {
	cursor: pointer
}